.divider {
  color: gray;
  padding: 0 8px;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.divider hr {
  height: 0.5px;
  flex: 1 0 0;
  background-color: rgb(235, 233, 233);
  margin: 25px 0;
  border: none;
}
.divider div {
  background-color: white;
  padding: 8px;
  font-size: 12px;
  border: none;
  color: rgb(151, 148, 148);
}
